<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Evaluate News article</title>
  </head>

  <body>
    <header>
      <div class="">Logo</div>
      <div class="">navigation</div>
    </header>

    <main>
      <section>
        <form class="" onsubmit="return Client.handleSubmit(event)">
          <input
            id="name"
            type="url"
            placeholder="URL of news article"
            required
          />
          <input type="submit" name="" value="submit" />
        </form>
      </section>

      <section>
        <h3 class="strong">API Analysis Results:</h3>
        <div id="results"></div>
      </section>
    </main>

    <footer>
      <p>This is a footer</p>
    </footer>
  </body>
</html>
