body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 2;
}

section {
  max-width: 800px;
  margin: 50px auto;
}
p {
  line-height: 1.6rem;
}
.strong {
  text-decoration: underline;
  font-weight: bold;
  margin: 1rem 0px;
}
.error {
  color: red;
}
.loading {
  color: green;
}
