form {
  border: 1px solid #545454;
  border-radius: 3px;
  padding: 40px;
}

input {
  padding: 5px 20px;
  width: 100%;
  line-height: 16px;
  margin: 10px 0;
}
p {
  line-height: 1.6rem;
}
.strong {
  text-decoration: underline;
  font-weight: bold;
  margin: 1rem 0px;
}
